@import "variables.css";
@import "normalize.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	--serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	
	/* z-index */
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 3px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--color-bg: var(--color-tan-100);
	--color-bg-2: var(--color-tan-300);
	--color-bg-3: var(--color-tan-400);
	--color-fg: var(--color-tan-1000);
	--color-bg-binary: var(--color-white);
	--color-fg-binary: var(--color-black);
	--color-user: var(--color-yellow-100);
	--color-wod: var(--color-blue-100);
  --color-link: var(--color-tan-1000);
  --color-focus: var(--color-red-100);
  --color-mark: var(--color-red-100);
	--color-selection: var(--color-yellow-100);
	--color-border: var(--color-tan-300);
	--color-button-bg: var(--color-tan-1000);
	--color-button-fg: var(--color-white);
	--color-button-hover: var(--color-tan-800);
	--color-input-bg: var(--color-tan-100);
	--color-input-fg: var(--color-tan-1000);
	--color-placeholder: var(--color-tan-500);

	--color-default-bg: var(--color-tan-200);
	--color-default-fg: var(--color-tan-800);
	--color-default-border: var(--color-tan-400);

	--color-user-bg: var(--color-yellow-100);
	--color-user-fg: var(--color-yellow-700);
	--color-user-border: var(--color-yellow-400);

	--color-wod-bg: var(--color-blue-100);
	--color-wod-fg: var(--color-blue-900);
	--color-wod-border: var(--color-blue-500);

	--color-wod-bg-light: var(--color-blue-50);
	--color-wod-fg-light: var(--color-blue-700);
	--color-wod-border-light: var(--color-blue-200);

	--color-mark-bg: var(--color-red-100);
	--color-mark-fg: var(--color-red-700);
	--color-mark-fg-dark: var(--color-red-900);
	--color-mark-border: var(--color-red-500);
	
	--color-bg-light-text: var(--color-tan-600);

	--bold: 800;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		--color-bg: var(--color-gray-900);
		--color-fg: var(--color-gray-100);
		--color-primary: var(--color-white);
		--color-link: var(--color-white);
		--color-focus: var(--color-red);
		--color-mark: var(--color-yellow);
		--color-selection: var(--color-gray-600);
		--color-border: var(--color-gray-600);
		--color-button-bg: var(--color-gray-600);
		--color-button-fg: var(--color-gray-100);
		--color-button-hover: var(--color-gray-700);
		--color-input-bg: var(--color-gray-800);
		--color-input-fg: var(--color-gray-100);
		--color-placeholder: var(--color-gray-400);
		--color-text-outline: var(--color-bg);
	}
} */

body {
	width: 100vw;
	height: 100vh;
	overflow: auto;
	font-weight: 600;
}

main {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: var(--48px, 48px);
	margin: 0;
	font-weight: var(--bold);
}

h2 {
	font-size: var(--36px, 36px);
	margin: 0;
	font-weight: var(--bold);
}

h3 {
	font-size: var(--28px, 28px);
	margin: 0;
	font-weight: var(--bold);
}

h4 {
	font-size: var(--24px, 24px);
	margin: 0;
	font-weight: var(--bold);
}

h5 {
	font-size: var(--22px, 22px);
	margin: 0;
	font-weight: var(--bold);
}

h6 {
	font-size: var(--20px, 20px);
	margin: 0;
	font-weight: var(--bold);
}

p {
	margin: 0;
	line-height: 1;
}

section {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	max-width: 40rem;
	transform: translate(-50%, 0);
}

button, a[role="button"] {
	border: 2px solid var(--color-bg-binary);
	box-shadow: 0 0 0 2px var(--color-button-bg);
	font-weight: var(--bold);
	text-transform: uppercase;
}

strong {
	font-weight: var(--bold);
}

.combo-default {
	background-color: var(--color-default-bg);
	color: var(--color-default-fg);
}

.combo-user {
	background-color: var(--color-user-bg);
	color: var(--color-user-fg);
}

.combo-wod {
	background-color: var(--color-wod-bg);
	color: var(--color-wod-fg);
}

.combo-wod-light {
	background-color: var(--color-wod-bg-light);
	color: var(--color-wod-fg-light);
}

.combo-mark {
	background-color: var(--color-mark-bg);
	color: var(--color-mark-fg);
}

.chunk.combo-default {
	border: 2px solid var(--color-default-border);
}

.chunk.combo-user {
	border: 2px solid var(--color-user-border);
}

.chunk.combo-wod {
	border: 2px solid var(--color-wod-border);
}

.chunk.combo-wod-light {
	border: 2px solid var(--color-wod-border-light);
}